body{
    background-color: rgb(6, 79, 88);

}
#container{
    margin: auto;
    max-width: 500px;
}
#form_container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 110%;
    background-color: white;
    padding: 20px;
    margin-top: 100px;
}
h1{
    text-align: center;
    margin: 0px;
    padding: 5px;
}
.form_group{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 100%;
    margin-top: 10px;
    height: 40px;
}
input:focus{
    background-color: snow;
}
input[type=submit]{
    font-size: 20px;
    height: 45px;
    color: white;
    background-color: rgb(19, 192, 19);
    border-color: slategrey;
}